.mkdf-testimonials-holder {
    @include ipad-landscape {
        .mkdf-testimonials-background-text {
            font-size: 170px;
        }
    }

    @include phone-landscape {
        .mkdf-testimonials {
            padding: 0;
        }

        .mkdf-testimonials-background-text {
            font-size: 70px;
        }
    }
}