.mkdf-reviews-simple {
    .mkdf-reviews-number-wrapper {
        .mkdf-reviews-summary {
            display: inline-block;
            vertical-align: middle;
        }
        .mkdf-stars-wrapper {
            display: inline-block;
            vertical-align: middle;
            padding: 0 0 0 15px;
        }
        .mkdf-stars-wrapper-inner {
            display: block;
        }
    }
}