.mkdf-comment-list {
    .mkdf-comment-name {
        float: none;
    }
    .mkdf-review-rating {
        display: inline-block;
        width: 100%;
    }
    .mkdf-rating-inner {
        display: inline-block;
        width: 100%;
    }
}